html {
  font-family: Lora, serif;
}

.masthead {
  background-color: #588477;
  background-image: url("../images/leaf-bg.svg");
  background-size: 64px auto;
  background-repeat: repeat;
  background-position: left top, left bottom, left top;
  border-top: 3px solid #2d5a4d;
  border-bottom: 3px solid #2d5a4d;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;

}

.nav a {
  text-decoration: none;
  background-color: #467366;
  color: #fff;
  border-radius: 8px;
  border: 3px solid #2d5a4d;
}

.nav a:hover {
  background-color: #fff;
  background-image: url("../images/leaf-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  color: #145b1d;
}

.banner {
  background-image: linear-gradient(to bottom, rgba(16, 52, 41, 0), rgba(16, 52, 41, .8));

  background-image: url("../images/banner.jpg");
  background-size: cover;
  padding-top: 55%;
  background-repeat: no-repeat;
  background-position: top;
}

.banner-content {
  color: #fff;
  background-image: url("../images/two-leaves.svg");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 40%;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
